In [1]:
from nltk.tokenize import word_tokenize

In [2]:
sentence = "hi, how are you!"

In [3]:
sentence.split()

['hi,', 'how', 'are', 'you!']

In [4]:
word_tokenize(sentence)

['hi', ',', 'how', 'are', 'you', '!']

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
    "hello, how are you?",
"im getting bored at home. And you? What do you think?",
"did you know about counts",
"let's see if this works!",
"YES!!!!"
]

ctv = CountVectorizer()

ctv.fit(corpus)

corpus_transformed = ctv.transform(corpus)
print(corpus_transformed)

  (0, 2)	1
  (0, 9)	1
  (0, 11)	1
  (0, 22)	1
  (1, 1)	1
  (1, 3)	1
  (1, 4)	1
  (1, 7)	1
  (1, 8)	1
  (1, 10)	1
  (1, 13)	1
  (1, 17)	1
  (1, 19)	1
  (1, 22)	2
  (2, 0)	1
  (2, 5)	1
  (2, 6)	1
  (2, 14)	1
  (2, 22)	1
  (3, 12)	1
  (3, 15)	1
  (3, 16)	1
  (3, 18)	1
  (3, 20)	1
  (4, 21)	1

In [9]:
print(ctv.vocabulary_)

{'hello': 9, 'how': 11, 'are': 2, 'you': 22, 'im': 13, 'getting': 8, 'bored': 4, 'at': 3, 'home': 10, 'and': 1, 'what': 19, 'do': 7, 'think': 17, 'did': 6, 'know': 14, 'about': 0, 'counts': 5, 'let': 15, 'see': 16, 'if': 12, 'this': 18, 'works': 20, 'yes': 21}

In [14]:
from nltk.tokenize import word_tokenize

ctv = CountVectorizer(tokenizer=word_tokenize, token_pattern=None)
ctv.fit(corpus) #corpus is a list of texts
corpus_transformed = ctv.transform(corpus)
print(ctv.vocabulary_)

{'hello': 14, ',': 2, 'how': 16, 'are': 7, 'you': 27, '?': 4, 'im': 18, 'getting': 13, 'bored': 9, 'at': 8, 'home': 15, '.': 3, 'and': 6, 'what': 24, 'do': 12, 'think': 22, 'did': 11, 'know': 19, 'about': 5, 'counts': 10, 'let': 20, "'s": 1, 'see': 21, 'if': 17, 'this': 23, 'works': 25, '!': 0, 'yes': 26}

# Count vectorizer is a bag of words model
# tfidfvectorizer is TF-IDF 
# Both comes under sklearn.feature_extractor.text

In [16]:
ls

 imdb.csv   log_res.py  'Text classification.ipynb'

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('imdb.csv')

In [19]:
df.head()

   Unnamed: 0                                               text  label
0           0  I always wrote this series off as being a comp...      0
1           1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2           2  This movie was so poorly written and directed ...      0
3           3  The most interesting thing about Miryang (Secr...      1
4           4  when i first read about "berlin am meer" i did...      0

In [20]:
df.reset_index(drop=True)

       Unnamed: 0                                               text  label
0               0  I always wrote this series off as being a comp...      0
1               1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2               2  This movie was so poorly written and directed ...      0
3               3  The most interesting thing about Miryang (Secr...      1
4               4  when i first read about "berlin am meer" i did...      0
...           ...                                                ...    ...
49995        4995  Man, I loved this movie! This really takes me ...      1
49996        4996  Recovery is an incredibly moving piece of work...      1
49997        4997  You can take the crook out of the joint, but i...      1
49998        4998  FUTZ is the only show preserved from the exper...      1
49999        4999  "The Mother" tells of a recently widowed mid-6...      1

[50000 rows x 3 columns]

In [21]:
df.describe()

         Unnamed: 0         label
count  50000.000000  50000.000000
mean   16499.500000      0.500000
std    12493.456486      0.500005
min        0.000000      0.000000
25%     4166.000000      0.000000
50%    14999.500000      0.500000
75%    27499.250000      1.000000
max    39999.000000      1.000000

In [22]:
df.label.values

array([0, 0, 0, ..., 1, 1, 1])

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize

tfv = TfidfVectorizer(tokenizer=word_tokenize, token_pattern=None)
tfv.fit(corpus)
transformed_corpus = tfv.transform(corpus)

In [29]:
print(transformed_corpus)

  (0, 27)	0.2965698850220162
  (0, 16)	0.4428321995085722
  (0, 14)	0.4428321995085722
  (0, 7)	0.4428321995085722
  (0, 4)	0.35727423026525224
  (0, 2)	0.4428321995085722
  (1, 27)	0.35299699146792735
  (1, 24)	0.2635440111190765
  (1, 22)	0.2635440111190765
  (1, 18)	0.2635440111190765
  (1, 15)	0.2635440111190765
  (1, 13)	0.2635440111190765
  (1, 12)	0.2635440111190765
  (1, 9)	0.2635440111190765
  (1, 8)	0.2635440111190765
  (1, 6)	0.2635440111190765
  (1, 4)	0.42525129752567803
  (1, 3)	0.2635440111190765
  (2, 27)	0.31752680284846835
  (2, 19)	0.4741246485558491
  (2, 11)	0.4741246485558491
  (2, 10)	0.4741246485558491
  (2, 5)	0.4741246485558491
  (3, 25)	0.38775666010579296
  (3, 23)	0.38775666010579296
  (3, 21)	0.38775666010579296
  (3, 20)	0.38775666010579296
  (3, 17)	0.38775666010579296
  (3, 1)	0.38775666010579296
  (3, 0)	0.3128396318588854
  (4, 26)	0.2959842226518677
  (4, 0)	0.9551928286692534

# N-grams are combinations of words in order.

In [35]:
from nltk import ngrams
from nltk.tokenize import word_tokenize

N =3
sentence = "hi, how are you?"
tokenized_sentence = word_tokenize(sentence)

n_grams = list(ngrams(tokenized_sentence, N))
print(n_grams)

[('hi', ',', 'how'), (',', 'how', 'are'), ('how', 'are', 'you'), ('are', 'you', '?')]

## stemming gives the smallest word possible and lemmatization gives the appropriate word; gives lemma

In [38]:
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer

lemmatizer = WordNetLemmatizer()

stemmer = SnowballStemmer("english")

words = ["fishing", "fish", "fished"]

for word in words:
    print(f"word = {word}")
    print(f"lemmatized_word = {lemmatizer.lemmatize(word)}")
    print(f"stemmed_word = {stemmer.stem(word)}")
    print("")

word = fishing
lemmatized_word = fishing
stemmed_word = fish

word = fish
lemmatized_word = fish
stemmed_word = fish

word = fished
lemmatized_word = fished
stemmed_word = fish

# Topic Extraction

## non-negative matrix factorization(NMF) or latent semantic analysis(LSA), which is popularly known as Singular value decomposition(SVD)